@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body{
    background: url(./imagens/fundo2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #00e676;
    margin-top: 400px;
    margin-bottom: 400px;
    margin-left: 400px;
    margin-right: 400px;
}

.titulo{
    font-size: 50px;
}
input{
    border-radius: 8px;
}

.botao{
    border-radius: 7px;
}